# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - Java
 - C++
 - SQL
 - MATLAB
 - JavaScript

Some of the popular languages that Data Scientists use are:

1. Python
2. R language
3. Scala 
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Muhammad Talha Shahid